extends ../base/layout.pug

block main
    svg.svg-icon(xml:space = "preserve" viewbox = "-70 -40 200 200")
        circle.icon__back(fill="white" stroke="none" cx="25" cy="15" r="30")
        text.icon__text(x="18" y="15") APPLE
        text.icon__text-two(x="18" y="15") MAGIE
        rect.icon__laptop(x="10" y="5" fill="#314975" stroke="none" width="30" height="20")
        rect.icon__table(x="9" y="25" fill="#0d1931" stroke="none" width="32" height="1")
        circle.icon__apple(fill="white" stroke="none" cx="25" cy="15" r="2")
            